
body{
  /* These are basic styles I tend to put on all html pages 
  I create so there is no weird border */
  box-sizing: border-box;
  margin:0;
  padding:0;
  /* This font is linked from google in the html header */
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: #2C2A4A;
  color: #4F518C;
}

h1, h2, h3{ /* this is how you reference several elements that receive the same style */
  /* This font is linked from google in the html header */
  font-family: 'Carter One', cursive;
  color: #7FDEFF;
}

form, #taskCont {
    margin: 20px auto;
    width: 50%;
    padding: 10px;
}

form{ /* elements can be reverenced several times, but it's best to limit references or you
may get confused and the last reference of the same heirarchy will stomp out previous settings. */
  background-color: #4F518C;
  color: #907AD6;
  text-align: center; /* this is affecting the elements inside the form,
  not necessarily the text */
  border-radius: 5px;
}

#taskInput{
  width: 89%;
}

#taskCont{
  border: 3px solid #4F518C;
  color: #DABFFF;
}

#errorMsg{
  display: none; /* starting off the session with the error hidden,
  to be shown in specific circumstances with js */
  color: #FF0000;
  font-weight: 800;
}

h1.pageTitle{
  text-align: center;
}

.chkBox{
  vertical-align: top;
}

.contentSpan{
  display: inline-block;
  margin-left: 10px;
  max-width: 95%;
}

.taskRow{
  padding: 3px;
}

.completed{
  text-decoration: line-through;
}